body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #e8c5c5;
    margin: 0;
    overflow: hidden; /* Para evitar el scroll en dispositivos pequeños */
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 90vw; /* Ajuste de ancho responsivo */
    max-width: 400px; /* Máximo ancho para pantallas más grandes */
}

.card {
    width: 100%;
    padding-top: 100%; /* Hace los cuadros cuadrados */
    background-image: url('img/logoo.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    position: relative;
    text-align: center;
    box-sizing: border-box; /* Para que padding no afecte el tamaño */
}

.card.flipped {
    background-color: #ffffff;
    background-image: none; /* Elimina la imagen de fondo al voltear */
    color: #333333;
}

#timer {
    margin-top: 20px;
    font-size: 1.5rem;
}

#message {
    margin-top: 20px;
    font-size: 1.5rem;
    color: red;
    font-weight: bold;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#popup.visible {
    visibility: visible;
    opacity: 1;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.hearts {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}

.heart {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(-45deg);
    animation: float 3s ease-in-out infinite;
    opacity: 0;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.heart:before {
    top: -10px;
    left: 0;
}

.heart:after {
    left: 10px;
    top: 0;
}

@keyframes float {
    0% {
        transform: translateY(0) rotate(-45deg);
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) rotate(-45deg);
        opacity: 0;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }
    #timer, #message {
        font-size: 1.2rem;
    }
}
